.loadingWheel-demo {
  float: left;
  padding: 10px;
  border: dotted 2px blue;
  height: 120px;
  width: 120px;
  text-align: center;
  margin: 5px;
  resize: both;
  overflow: hidden;
}

.loadingWheel-demo>span {
  display: grid;
}

.loadingWheel-demo>object {
  height: 50%;
  width: 50%;
  position: relative;
  top: 28px;
}